<div class="all">
  <div class="lefter">
      <a routerLink="/menu/usuario" class="block mt-4 lg:inline-block lg:mt-0 text-teal-200 hover:text-white mr-4 text">
        Usuarios
         </a>
  </div>
  <div class="center">
    <div class="explainer cent"><span>Pasa sobre mi</span></div>
    <div class="text">Frontend Development</div>
    </div>
  <div class="right">
    <a routerLink="/login" class="block mt-4 lg:inline-block lg:mt-0 text-teal-200 hover:text-white mr-4 text">
      Login
    </a>
  </div>
</div>

